.video {
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.thumbnail {
  transition: all 0.1s ease-in;
  margin-bottom: 1rem;
  width: 100%;
}

.video:hover > .thumbnail {
  filter: brightness(0.85);
}

.info {
  padding: 0 0.5rem;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  --title-size: 1.8rem;
  font-size: var(--title-size);
  line-height: calc(var(--title-size) + 0.5rem);
  margin-bottom: 0.5rem;
}

.channel {
  font-size: 1.4rem;
  color: var(--gray);
}
