.content {
  display: flex;
}

/* REVIEW: flex */
.detail {
  flex: 1 1 80%;
  padding: 2% 2% 4% 4%;
  border-right: 0.1rem solid var(--weak-gray);
}

.popular {
  flex: 1 1 20%;
  padding: 2% 4% 4% 2%;
}

.popular--align {
  padding: 3% 10%;
}
