@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

* {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  background: inherit;
  font: inherit;
}

button {
  cursor: pointer;
}
